@import "./media-queries";
@import "./variables";
 
/*Seccion contactos - formulario*/
.fondo{
    background-color: rgba(24, 24, 24, 0);
    height: 850px;
    width: 100%;
    margin: auto;

    @include tablet{
        height: 950px;
    }

    @include movil{
        height: 900px;
    }

}

.contacto{
    margin: auto;
    color: $blanco;
    font-family: 'Poppins', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 50px;

    @include tablet{
        font-size: 40px;
    }

    @include movil{
        font-size: 25px;
        letter-spacing: 10px;
        padding-bottom: 25px;
    }

}

.formulario{
    text-align:center;
    padding-top: 150px;

    @include movil{
        padding-top: 90px;

    }
}

.fieldset{
    border: 0px;
    text-align: center;
}

.legend{
    color: rgb(255, 255, 255);
    text-align:center; 
    margin-bottom: 30px;
    text-decoration-style: solid;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;

    @include tablet{
        width: 50%;
    }

    
    @include movil{
        margin-bottom: 40px;
        width: 98%;
        font-size: 15px;
        letter-spacing: 3px;

    }
}


.relleno{
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 10px;
    color: rgb(247, 247, 247);
    padding: 7px 7px 7px 7px;
    margin: 5px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    width: 16%;
    border-color:#76CCB1;
    border-width: 1px;

    @include tablet{
        width: 50%;
        font-size: 18px;
    }

    @include movil{
        width: 90%;
        font-size: 18px;
    }
}

.textarea{
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 7px 7px 7px 7px;
    width: 16%;
    background-color: rgba(0, 0, 0, 0.836);
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    border-color:#75ccb1;
    border-width: 1px;
    margin: 10px;

    @include tablet{
        width: 50%;
        font-size: 18px;
    }

    
    @include movil{
        width: 90%;
        font-size: 18px;
        border-radius: 10px;
    }
}

.check{
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 10px;
    padding: 4px;
}

#notificacion{
    margin-top: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;

    @include tablet{
        font-size: 15px;
    }

    @include movil{
        font-size: 15px;
    }
}

.botonform{
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 20px;
    padding: 7px 7px 7px 7px;
    width: 8%;
    background-color: rgba(0, 0, 0, 0.836);
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    border-color:#76CCB1;
    border-width: 1px;

    @include tablet{
        width: 20%;
        font-size: 18px;
    }

    @include movil{
        width: 50%;
        font-size: 18px;
    }
}


        



