@import "./variables";

/*Pie de página*/


.footer{
    background: linear-gradient(90deg, #0e0d0d, #242424, #0e0d0d); 
    box-shadow: 0px -3px 12px 1px rgba(0, 0, 0, 0.774);
    opacity: 90%;
    color: rgb(255, 255, 255);
    margin-top: 100px;
    width: 100%;
    text-align: left;
	padding: 55px 100px;
    box-sizing: border-box;

    .footer__izq,.footer__centro,.footer__der{
        display: inline-block;
        vertical-align: top;
    }

        

    /* Footer izq */

    .footer__izq{
        width: 40%;
        font-family: 'Nunito', sans-serif;

        .footer_logo{
            width: 22%;
        }

        .footer__iconos{
            color:  #ffffff;
            margin: 20px 0 18px;
            padding: 0;
    
            a{
                display:inline-block;
        
            }

            img:hover{
                transform:scale(1.1);
            }
        }

        .footer__blackwood{
            margin: 0;
            font-size: 14px;
        }
    
    }


    /* Footer centro */ 

    .footer__centro{
        width: 35%;

        img{
            text-align: center;
            vertical-align: middle;
            margin-right: 15px;
        }

        p{
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin:0;
            font-family: 'Poppins', sans-serif;

        }

    }


    /* Footer derecha */ 

    .footer__der{
        width: 22%;

        .footer__acerca{
            line-height: 20px;
            color:  #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
            font-family: 'Nunito', sans-serif;
        }

        .footer__acerca span{
            display: block;
            color:  #ffffff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
        }

    }

}

@media screen and (max-width: 768px){

    .footer__izq,.footer__centro,.footer__der{
        display: block;
        padding-bottom: 50px;
    }

    /* Footer izq */

    .footer__izq{
        width: 40%;
        font-family: 'Nunito', sans-serif;

        .footer_logo{
            width: 50%;
        }

        .footer__iconos{
            color:  #ffffff;
            margin: 20px 0 18px;
            padding: 0;
    
            a{
                display:inline-block;
        
            }

            img:hover{
                transform:scale(1.1);
            }
        }

        .footer__blackwood{
            margin: 0;
            font-size: 14px;
        }
    
    }


    /* Footer centro */ 

    .footer__centro{
        width: 35%;

        img{
            text-align: center;
            vertical-align: middle;
            margin-right: 15px;
        }

        p{
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin:0;
            font-family: 'Poppins', sans-serif;

        }

    }


    /* Footer derecha */ 

    .footer__der{
        width: 22%;

        .footer__acerca{
            line-height: 20px;
            color:  #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
            font-family: 'Nunito', sans-serif;
        }

        .footer__acerca span{
            display: block;
            color:  #ffffff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
        }

    }

}
