@import "./variables";

/*Pie de página*/


.footer{
    background: linear-gradient(90deg, #0e0d0d, #242424, #0e0d0d); 
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.774);
    opacity: 90%;
    color: rgb(255, 255, 255);
    margin-top: 100px;
    width: 100%;
    text-align: left;
	padding: 45px 100px;
    box-sizing: border-box;

    @include tablet{
        width: 100%;
        padding: 3em;
    }
    
    @include movil{
        width: 100%;
        padding: 2em;
    }

    .footer__izq,.footer__centro,.footer__der{
        display: inline-block;
        vertical-align: top;
    }

    /* Footer izq */

    .footer__izq{
        width: 35%;
        font-family: 'Nunito', sans-serif;

        @include tablet{
            width: 35%;
            margin-right: 28px;
        }

        @include movil{
            width: 90%;
        }

        .footer__iconos{
            color:  #ffffff;
            margin: 20px 0 18px;
            padding: 0;
    
            a{
                display:inline-block;
        
            }

            img:hover{
                transform:scale(1.1);
            }
        }

        .footer__blackwood{
            margin: 0;
            font-size: 14px;

            @include tablet{
                font-size: 16px;
            }

            @include movil{
                width: 70%;
                font-size: 13px;
            }
        }
    
    }


    /* Footer centro */ 

    .footer__centro{
        width: 30%;

        @include tablet{
            width: 60%;
        }

        @include movil{
            padding-top: 40px;
            width: 90%;
        }

        img{
            text-align: center;
            vertical-align: top;
            margin-right: 15px;
            margin-bottom: 10px;

            @include tablet{
                margin-right: 8px;
                padding-top: 10px;
                vertical-align: center;
                margin-bottom: 10px;

            }

            
            @include movil{
                margin-right: 8px;
                padding-top: 10px;
                margin-bottom: 10px;
            }
        }

        p{
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin:0;
            font-family: 'Poppins', sans-serif;
            margin-top: 10px;

            @include tablet{
                font-size: 17px;
                margin-top: 22px;
            }

            @include movil{
                width: 70%;
                font-size: 12px;
                margin-top: 18px;

            }

        }

    }


    /* Footer derecha */ 

    .footer__der{
        width: 22%;

        @include tablet{
            width: 75%;
            padding-top: 40px;
        }

        @include movil{
            padding-top: 40px;
            width: 90%;
        }

        .footer__acerca{
            line-height: 20px;
            color:  #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
            font-family: 'Nunito', sans-serif;

            @include tablet{
                font-size: 17px;
            }
        }

        .footer__acerca span{
            display: block;
            color:  #ffffff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;

            @include tablet{
            font-size: 17px;
            }
        }

    }

}