@import "./variables";

.header{
    .header__nav{
        z-index: 5;
        background: linear-gradient(110deg, #0f0f0f, #2b2b2b, #0f0f0f); 
        opacity: 90%;
        width: 100%;
        position: fixed;
        height: 5%;
        top: 0%;
        box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.774);
        /* valores de la sombra: offset-x | offset-y | blur-radius | spread-radius | color */

        @include movil{
            width: 400px;
            height: 5%;

        }

    .header__logo{
        position: absolute;
        top: 15px;
        width: 9%;
        left: 100px;

        @include tablet{
            width: 15%;
            top: 12px;
            left: 30px;
        }
        
        @include movil{
            width: 30%;
            top: 10px;
            left: 30px;
        }
    }

        .header__list{
            width: 100%;
            list-style: none;
            color: $blanco;
            text-align: right;
            text-decoration: none;

            @include movil{
                visibility: hidden;
            }


            .header__item{
                position: relative;
                display: inline-block;
                padding: 14px 50px;
                font-size: 11px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                letter-spacing: 3px;
                text-transform: uppercase;
                text-align: center;
                
            }

            .header__item:hover{
                box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.774);
                border-radius: 5px;

            }

            .header__item:hover .header__subList{
                display: block;
                text-align: center;
                
            }

                .header__a{
                    display: block;
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                }

                .header__a:hover{
                    font-weight: 500;
                    transform: scale(1.02);
                }


                    .header__subList{
                        left: 0px;
                        margin-top: 15px;
                        position: absolute;
                        background-color: #242424b4;
                        display: none; 
                        border-radius: 20px;
                        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.725);
                    }

                        .header__subItem{
                            display: block;
                            padding: 25px 40px;
                            color: rgb(255, 255, 255);
                            text-decoration: none;
                            text-align: center;
                        }    
        }
    } 
}