@import "./variables";


/* HOME */ 
    
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.intro{
    padding-top: 150px;
    height: $alto;

    .intro__caja{
        margin: auto;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        text-align: center;
        backdrop-filter: blur(5px);
        width: ($ancho/2);
        border: 1px solid white;
        background-color: #6464641f;
        height: ($alto/2)+150;
        animation: fadeIn 2s;


        @include tablet{
            width: 90%;
        }

        @include movil{
            width: 95%;
            height: 350px;

        }
    
        .intro__titulo{
            color: $blanco;
            font-size: 70px;
            font-family: 'Poppins', sans-serif;
            font-weight: 200;
            letter-spacing: 25px;
            text-transform: uppercase;

            @include tablet{
                font-size: 60px;
            }

            @include movil{
                font-size: 25px;
                letter-spacing: 10px;
                font-weight: 300;

            }

        }
    
        .intro__subTitulo{
            text-align: center;
            color: $blanco;
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            width: 550px;
            margin: 40px auto 60px;

            @include movil{
                font-size: 15px;
                letter-spacing: 0px;
                width: 300px;
            }

        }       
    }
}

.button{
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
}

.button:hover{
    transform: scale(1.2);
}

/*INDEX quienes somos*/
.titulo1{
    padding-top: 100px;
    color: white;
    font-size: 24px;
    line-height: 70px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 12px;

    @include tablet{
        font-size: 35px;
        line-height: 90px;
        padding-top: 50px;
    }

    @include movil{
        letter-spacing: 6px;
        font-size: 20px;
        line-height: 40px;
    }
}

.parrafoDescrip{
    color: white;
    width: 700px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    
    @include tablet{
        padding-top: 20px;
        font-size: 22px;
        font-weight: 100;
        width: 470px;
    }

    @include movil{
        padding-top: 20px;
        letter-spacing: 0;
        font-size: 14px;
        line-height: 20px;
        width: 280px;
    }
}

#contenedor {
    width: ($ancho/2)+192;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;

    @include tablet{
        margin-top: 70px;
        flex-wrap: wrap;
        width: 90%;
    }

    @include movil{
        margin-top: 30px;
        flex-wrap: wrap;
        width: 50%;
    }

    .contenedor__iconos {
        text-align: center;
    
    @include tablet{ 
        padding: 8px;
    } 

    @include movil{ 
        padding: 4px;
    } 


        img{
            transform: scale(1.1);
            margin-top: 20px;

            @include movil{ 
                transform: scale(0.8);
            } 
        }

        .contenedor__desc {
            padding-top: 20px;
            color:$blanco;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;

            @include tablet{
                font-size: 20px;
                padding-top: 40px;
            }

            @include movil{
                font-size: 14px;
                padding-top: 20px;        
            }
        }

    }
 
}

.pre{
    width: 70%;
    padding: 20px;
    margin: auto;
    height: 650px;
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 1px 6px 2px rgba(0, 0, 0, 0.644);

    @include tablet{
        flex-direction: column;
        flex-wrap: nowrap;
        height: $alto+300px;
        width: 90%;
        padding: 2px;
        margin-bottom: 150px;

    }

    @include movil{
        flex-direction: column;
        flex-wrap: nowrap;
        height: $alto+20px;
        width: 95%;
        padding: 2px;
        margin-bottom: 150px;

    }
    
    .pre__imagen{
        margin-right: 100px;

        @include tablet{
            margin-right: 0;
            margin-bottom: 80px;
        }

        @include movil{
            margin-right: 0;
            margin-bottom: 80px;

            img{
                margin-left: 30px;
                width: 80%;
            }
        }
    }

    .pre__texto{
        width: 450px;
        color:$blanco;
        font-family: 'Poppins', sans-serif;

        @include movil{
            width: 95%;
        }

        h2{
            font-size: 40px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 14px;
            padding-bottom: 30px;

            @include tablet{
                text-align: center;
            }

            @include movil{
                text-align: center;
                font-size: 22px;
                letter-spacing: 10px;

            }
        }

        h5{
            font-weight:400;
            width: 450px;
            font-size: 18px;

            @include tablet{
                font-size: 24px;
                text-align: center;
            }

            @include movil{
                font-size: 15px;
                width: 98%;
                text-align: center;
            }
        }

        .pre__lista{
            padding-top: 40px;

            @include tablet{
                width: 500px;
            }

            @include movil{
                width: 90%;
            }

            .pre__item{
                display: flex;
                flex-direction: row;
                padding-top: 20px;
                align-items: center;


            i{
                padding-right: 20px;
                }

            }

            p{
                font-weight: 300;
                font-size: 16px;

                @include tablet{
                    font-size: 20px;

                }
            }

        }
    }

}

/*INDEX grid*/

    .gridContainer {
        display: grid;
        grid-gap: 20px;
        padding: 10px;
        width: 70%;
        margin: auto;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: 500px 500px;

        @include tablet{
            width: 98%;
            grid-template-columns: auto auto auto auto auto;
        }

        @include movil{
            grid-template-columns: 100%;
            grid-template-rows: 500px 500px 500px 500px;
            width: 95%;
        }
    
        div {
            box-shadow:  0px 1px 6px 2px rgba(0, 0, 0, 0.644);
            text-align: center;
            font-size: 30px;
            height: 500px;
            }
    
    
        .gridItem img, video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }    
            
    
        .item1{
            grid-column: 1 / span 5;
            
            @include tablet{
                grid-column: 1 / span 4;
            }

            @include movil{
                grid-column: 1 / span 1;
                grid-row: 2;
            }
        }
    
        .item2{
            grid-column: 6;

            @include tablet{
                grid-column: 5 / span 2;
            }
            @include movil{
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
            }
        }
    
        .item3{
            grid-column: 1 / span 2;
            @include movil{
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;
            }
        }
    
        .item4{
            grid-column: 3 / span 4;
            @include movil{
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
            }
        }          
    }  


.suscribir{
    margin: 100px auto 100px;

    @include movil{
        margin-top: 50px;
    }

    .suscribir__cont{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 100px;
        margin: auto;
        padding: 0px 50px;
        border-radius: 20px;
        box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.644);

        @include tablet{
            width: 668px;
            margin: auto;
            padding: 5px;
        }

        @include movil{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 90%;
            height: 200px;
            padding: 10px;
            align-self: center;

        }
    
    
        .suscribir__izq{
            margin-top: 17px;
            width: 64%;
            color:$blanco;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            margin-right: 100px;

            @include tablet{
                width: 45%;
                margin-right: 50px;
                 margin-top: 0px;

            }

            @include movil{
                width: 95%;
                margin-right: 50px;
                text-align: center;
                font-size: 15px;
                padding-bottom: 30px;
                margin-top: 0px;

            }
        }
    
        .suscribir__der{
            width: 22%;
            border-radius: 25px;
            padding: 10px;
            text-align: center;
            border-color:#76CCB1;
            border-style: solid;
            border-width: 1px;

            @include movil{
                width: 80%;
                margin-right: 50px;
            }
    
    
    
            a{
                text-align: center;
                color: $blanco;
                font-size: 19px;
                font-weight: 00;
                font-family: 'Poppins', sans-serif;

                @include movil{
                    font-size: 16px;
                }
            }   
        }    
    }    
}

