@import "./media-queries";
@import "./variables";

/*MATERIALES*/
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.material{
    background-color: $fondo;
    height: 450px;
    width: 100%;
    text-align: center;
    animation: fadeIn 2s;

    @include movil{
        height: 60vh;
    }

    &__titulo{
        padding-top: 150px;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 17px;
        font-family: 'Poppins', 'sans-serif';
        color: white;
        text-transform: uppercase;

        
        @include tablet{
            padding-top: 100px;
        }

        @include movil{
            letter-spacing: 10px;
            font-size: 30px;
            padding-top: 100px;
        }
    }

    &__texto{
        padding-top: 30px;
        margin: auto;
        max-width: 30%;
        font-size: 20px;
        font-weight: 300;
        font-family: 'Poppins', 'sans-serif';
        color: white;

                
        @include tablet{
            max-width: 75%;
            font-size: 22px;
        }

        @include movil{
            padding-top: 20px;
            max-width: 90%;
            font-size: 18px;
        }
    }
}


.carousel{
    z-index: 0;
    width: 60%;
    margin: auto;
    filter: saturate(1);

    @include tablet{
        width: 90%;

    }

    @include movil{
        height: 100vh;
        width: 100vw;
    }

    img{
        width: 100%;
        height: 10%;
        object-fit: cover;

        @include movil{
            height: 100vh;
        }

        @include tablet{
            height: 100vh;
        }
    }

    .carousel-caption{
        padding-top: 50px;
        background-color: rgba(0, 0, 0, 0.568);
        backdrop-filter: blur(5px);
        margin: auto;
        height: 50%;

        @include movil{
            height: 60vh;
            padding: 10px;
        }

        @include tablet{
            padding: 25px;
            height: 65vh;
        }

        h5{
            color: $blanco;
            font-family: 'Poppins', 'sans-serif';
            font-size: 2.2em;

            @include movil{
                font-size: 1.8em;
            }
        }

        p{
            color: $blanco;
            font-size: 1.2em;
            width: 70%;
            margin:auto;

            @include movil{
                font-size: 1.05em;
                width: 100%;
                margin-top: 20px;
            }

            @include tablet{
                font-size: 1.5em;
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}
