@import "./variables";


/* NOSOTROS */ 

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.historia{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__caja{
        padding: 150px 100px;
        backdrop-filter: blur(6px);
        background-color: #161616cb;
        height: 100vh;
        width: 50%;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.521);
        animation: fadeIn 2s;
        z-index: 1;

        @include tablet{
            width: 100%;
            height: 80vh;
            padding: 40px 15px;
        }

        
        @include movil{
            width: 100%;
            height: 550px;
            padding: 40px 15px;
        } 
    }

    &__titulo{
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 500;
        text-shadow: 0px 0px 0px #000000;
        letter-spacing: 15px;
        min-width: 100%;
        font-family: 'Poppins', 'sans-serif';
        color: white;
        text-transform: uppercase;

        @include tablet{
            margin-top: 20px;
            text-align: center;
        }
         
        @include movil{
            font-size: 30px;
            letter-spacing: 10px;
            text-align: center;
            margin-bottom: 10px;
        }
    }

        
    &__sub{

        @include tablet{
            margin-top: 20px;
            text-align: center;
            margin: auto;
        }
                        
        @include movil{
            margin-top: 0px;
            width: 100%;
            height: 350px;
            overflow: auto;
            text-align: center;
        }
    }

    &__texto{
        width: 82%;
        padding-top: 20px;
        font-family: 'Nunito', sans-serif; 
        color: white;
        font-size: 18px;
        line-height: 30px;

        @include tablet{
            width: 100%;
            font-size: 21px;
            line-height: 32px;
            margin: auto;
            width: 85%;
        }

        @include movil{
            margin-top: 30px;
            width: 100%;
            font-size: 15px;
            line-height: 22px;
        }

        .resalta{
            color: $celeste;
            font-weight: 600;
        }      
    }          
}


.videobg{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
}
