@import "./variables";


/*PRODUCTOS*/


.contenedor{
    height: 100vh;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include tablet{
        width: 80%;
        height: 950px;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    @include movil{
        flex-direction: column-reverse;
        margin-top: 40px;
        
    }



    .contenedor__texto{
        width: 40%;
        height: 54%;

        @include tablet{
            width: 100%;
            height: 54%;
            margin-top: 20px;
            text-align: center;
            margin-left: 110px;
        }

        @include movil{
            width: 90%;
            height: 54%;
            margin-top: 20px;
            text-align: center;
            margin-left: 0px;
        }
        
        .contenedor__titulo{
            width: 83%;
            font-size: 60px;
            font-weight: 500;
            letter-spacing: 25px;
            font-family: 'Poppins', 'sans-serif';
            color: white;

            @include movil{
                width: 100%;
                font-size: 25px;
                letter-spacing: 15px;
                text-align: left;
            }
        }
        
        .contenedor__desc{
            width: 82%;
            font-size: 22px;
            color: white;
            font-family: 'Poppins', sans-serif;
            padding-top: 2%;
            letter-spacing: 1px;

            @include movil{
                width: 100%;
                font-size: 15px;
                text-align: left;
            }
        }


    }

    .contenedor__silla{
        img{
            margin-left: 0;
            
            @include tablet{
            margin-left: 40px;
            width: 90%;
            }

            @include movil{
                margin-left: 0px;
                width: 100%;
                }
        }
    }


}

/*-------------------------------------------------------------------------------------SLIDER*/

.slider{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 50px;

    
    @include movil{
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }
}

.texto-cont{
    padding: 50px;
    width: 40%;

    @include movil{
        padding: 30px;
        width: 100%;
        text-align: center;
    }

    h4{
        color: $celeste;
        font-size: 2.2em;
        font-weight: 500;
        padding: 30px 0;
    }

    p{
        color: $blanco;
        font-family: 'Poppins';
        font-size: 1.2em;
        width: 80%;

        @include movil{
            width: 100%;
        }
    }
}

#conteiner{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: black;

    @include movil{
        flex-direction: column;
    }

}

.slide{
    height: 80vh;
    width: 100%;
    overflow: hidden;
    flex: 1;
    filter: invert(8%);
    filter: saturate(0);
    box-shadow: 0 0 20px 10px hsla(0, 0%, 0%, .5);
    border-right: 1px solid rgb(255, 255, 255);
    transition: 0.7s ease-in-out;
}

.slide:nth-child(1){
    background:  url(../multimedia/imagen/a.jpg);
    background-position: center center;
}

.slide:nth-child(2){
    background:  url(../multimedia/imagen/b.jpg);
    background-position: center center;
}

.slide:nth-child(3){
    background:  url(../multimedia/imagen/c.jpg);
    background-position: center center;
}

.slide:nth-child(4){
    background:  url(../multimedia/imagen/d.jpg);
    background-position: center center;
}

.slide:nth-child(5){
    background:  url(../multimedia/imagen/e.jpg);
    background-position: center center;
}

.slide:nth-child(6){
    background:  url(../multimedia/imagen/a.jpg);
    background-position: center center;
}

.slide:hover{
    flex-grow: 3;
    filter: invert(0);
}

/*-------------------------------------------------------------------------------------SLIDER CIERRA*/

/*-------------------------------------------------------------------------------------TIENDA*/

   .side-bar{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    z-index: 1000;
   }
   
   .side-bar.active{
    left: 0;
   }
   
   .side-bar .menu{
    width: 100%;
    margin-top: 80px;
   }
   
   .side-bar .menu .item{
    position: relative;
    cursor: pointer;
   }
   
   .side-bar .menu .item a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
   }
   
   .side-bar .menu .item a:hover{
    background: #8621F8;
    transition: 0.3s ease;
   }
   
   .side-bar .menu .item i{
    margin-right: 15px;
   }
   
   .side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
   }
   
   .side-bar .menu .item .sub-menu{
    background: rgba(255, 255, 255, 0.1);
    display: none;
   }
   
   .side-bar .menu .item .sub-menu a{
    padding-left: 80px;
   }
   
   .rotate{
    transform: rotate(90deg);
   }
   
   .close-btn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
   }
   
   .menu-btn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin: 0;
    cursor: pointer;

    i{
        margin-right: 20px;

    }
   }
   
   .main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
   }
   
   .main h1{
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    line-height: 80px;
   }
   
   @media (max-width: 900px){
    .main h1{
      font-size: 40px;
      line-height: 60px;
    }
   }
   

.gallery{
    margin: 80px 0;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    color: $blanco;
    font-family: 'Poppins', 'sans-serif';
    width: 100%;
    min-height: 100vh;
}

.wrapper{
    width: 80%;
    margin: auto;
    text-align: center;
}

.header-tienda{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-header{
    margin: auto;
    padding-bottom: 30px;
    color: white;
    letter-spacing: 1px;
}

.content{
    padding: 10%;

    h2{
        margin-bottom: 15px;
    }

    p{
        line-height: 1.5;
    }
}

.main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    flex-wrap: wrap;
}

.main-content .box{
    margin: 15px;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.247);
    height: 650px;
    width: 400px;
    overflow: hidden;
}

.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    transition: all .5s ease;
}


.main-content .box:hover::before{
    content: '';
    position: absolute;
    top: 0;
    z-index: 8;

}

.main-content .box img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.main-content .box .img-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.605);
    width: 100%;
    height: 100%;
    top: 100;
    right: 100%;
    transition: all 0.5s ease;
}


.main-content .box:hover .img-text{
    top: 0;
    right: 0;

}

/*-------------------------------------------------------------------------------------TIENDA CIERRA*/
