@import "./variables";


/*PRODUCTOS*/


.contenedor{
    background-color: $fondo;
    height: 850px;
    width: 100%;
    margin: auto;
    margin-top: 120px;
    padding-top: 100px;

    .contenedor__titulo{
        max-width: 43%;
        font-size: 60px;
        padding-left: 15%;
        font-weight: 500;
        text-shadow: 0px 0px 0px #000000;
        letter-spacing: 25px;
        font-family: 'Poppins', 'sans-serif';
        color: white;
    }
    
    .contenedor__texto{
        width: 44%;
        font-size: 24px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding-top: 2%;
        padding-left: 15%;
        letter-spacing: 1px;
    }

    .contenedor__silla{
        img{
        position: absolute;
        right: 100px;
        top: 80px;
        }
    } 

}

#ProdRec{
    color: $celeste;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.contenedorProd {
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.contenedorProd__img  {
    text-align: center;
    padding: 30px;

    img{
        border-radius: 20px;
        width: 400px;
    }

    .contenedorProd__texto{
        padding-top: 20px;
        color: white;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
}