@import "./variables";


/*PRODUCTOS*/


.contenedor{
    height: 100vh;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include tablet{
        width: 80%;
        height: 90vh;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    @include movil{
        flex-direction: column-reverse;
        margin-top: 80px;
        height: 90vh;     
    }

    &__texto{
        width: 40%;
        height: 54%;

        @include tablet{
            width: 100%;
            height: 54%;
            margin-top: 20px;
            text-align: center;
            margin-left: 110px;
        }

        @include movil{
            width: 100%;
            height: 54%;
            margin-top: 20px;
            text-align: center;
            margin-left: 0px;
        }
    }

    &__titulo{
        width: 83%;
        font-size: 60px;
        font-weight: 500;
        letter-spacing: 25px;
        font-family: 'Poppins', 'sans-serif';
        color: white;

        @include movil{
            width: 90%;
            font-size: 35px;
            letter-spacing: 10px;
            text-align: left;
        }
    }
        
    &__desc{
        width: 82%;
        font-size: 22px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding-top: 2%;
        letter-spacing: 1px;

        @include movil{
            width: 100%;
            padding-top: 5%;
            font-size: 18px;
            text-align: left;
            letter-spacing: 0px;
        }
    }

    &__silla{
        img{
            margin-left: 0;
            
            @include tablet{
            margin-left: 40px;
            width: 90%;
            }

            @include movil{
                margin-left: 0px;
                width: 100%;
            }
        }
    }
}

/*-------------------------------------------------------------------------------------SLIDER*/

.slider{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 50px;

    @include tablet{
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }  
    @include movil{
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    &__texto{
        padding: 50px;
        width: 43%;

        @include tablet{
            padding: 30px;
            width: 100%;
            text-align: center;
        }

        @include movil{
            padding: 30px;
            width: 100%;
            text-align: center;
        }

        h4{
            color: $celeste;
            font-size: 2.2em;
            font-weight: 500;
            padding: 30px 0;

            @include movil{
                font-size: 1.8em;
                padding: 10px 0;
            }
        }

        p{
            color: $blanco;
            font-family: 'Poppins';
            font-size: 1.2em;
            width: 80%;

            @include movil{
                width: 100%;
                font-size: 1em;
            }

            @include tablet{
                margin: auto;
                width: 90%;
                font-size: 1.4em;
                margin-bottom: 30px;
            }
        }
    }

    &__conteiner{
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        background-color: black;
    
        @include movil{
            flex-direction: column;
            height: 140vh;
        }
    }

    &__slide{
        height: 80vh;
        width: 100%;
        overflow: hidden;
        flex: 1;
        filter: invert(8%);
        filter: saturate(0);
        box-shadow: 0 0 20px 10px hsla(0, 0%, 0%, .5);
        border-right: 1px solid rgb(255, 255, 255);
        transition: 0.7s ease-in-out;
    }
    
    &__slide:nth-child(1){
        background:  url(../multimedia/imagen/a.jpg);
        background-position: center center;
    }
    
    &__slide:nth-child(2){
        background:  url(../multimedia/imagen/b.jpg);
        background-position: center center;
    }
    
    &__slide:nth-child(3){
        background:  url(../multimedia/imagen/c.jpg);
        background-position: center center;
    }
    
    &__slide:nth-child(4){
        background:  url(../multimedia/imagen/d.jpg);
        background-position: center center;
    }
    
    &__slide:nth-child(5){
        background:  url(../multimedia/imagen/e.jpg);
        background-position: center center;
    }
    
    &__slide:nth-child(6){
        background:  url(../multimedia/imagen/f.jpg);
        background-position: center center;
    }
    
    &__slide:hover{
        flex-grow: 3;
        filter: invert(0);
    }
}

/*-------------------------------------------------------------------------------------SLIDER CIERRA*/



/*-------------------------------------------------------------------------------------TIENDA*/

.tienda{  /*ENGLOBA TODO: HEADER + SIDE BAR + GRID*/

    margin: 80px 0;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: top;
    color: $blanco;
    font-family: 'Poppins', 'sans-serif';
    width: 100%;
    min-height: 100vh;

    @include tablet{
        margin: 20px 0 0;
        padding: 80px 0 0;
        flex-direction: column;
        flex-wrap: wrap;
    }

    @include movil{
        margin: 20px 0 0;
        padding: 80px 0 0;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__wrap{
        width: 80%;
        margin: auto;
    
        @include tablet{
            width: 100%;
        }
    
        @include movil{
            width: 95%;
        }
    }

    &__header{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    
        @include movil{
            flex-wrap: wrap;
            width: 90%;
        }
    
        @include tablet{
            width: 90%;
        }
    }

    
    &__titulo{
        margin: auto;
        padding-bottom: 30px;
        color: white;
        letter-spacing: 1px;

        @include movil{
            margin: 50px 0 0;
            font-size: 40px;
        }

        @include tablet{
            padding-left: 100px;
            font-size: 35px;
        }
    }

    .menu-btn{
        position: absolute;
        color: $celeste;
        font-size: 20px;
        margin: 0;
        cursor: pointer;
    
        i{
            margin-right: 20px;
        }
    }  
}
                                                                 /*SIDE BAR*/
.side-bar{
    background-color: rgba(41, 41, 41, 0.5);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    z-index: 1000;

        @include movil{
            width: 240px;
        }

    .menu{
        width: 80%;
        margin: 80px 0 80px 45px;
    
            @include movil{
                width: 90%;
                margin: 80px 0 80px 15px;
            }

        h4{
            color: $celeste;
        }

        .item{
            position: relative;
            cursor: pointer;

            a{
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                display: block;
                padding: 5px 10px;
                line-height: 60px;
              
                i{
                    margin-right: 15px;
                }

                .dropdown{
                    position: absolute;
                    right: 0;
                    margin: 20px;
                    transition: 0.3s ease;       
                }
            }

            a:hover{
                background: rgba(27, 27, 27, 0.603);
                border-radius: 10px;
                transition: 0.3s ease;
            }

            .sub-menu{
                background: rgba(255, 255, 255, 0.1);
                display: none;
            
                a{
                    padding-left: 40px;
                }
            }
        }
    }

    .rotate{
        transform: rotate(90deg);
    }

    .close-btn{
        position: absolute;
        color: #fff;
        font-size: 20px;
        right: 0;
        margin: 25px;
        cursor: pointer;
    }
}
   
.side-bar.active{
    left: 0;
}
   
                                                                 /*SIDE BAR CIERRA*/

/*---------------------------------------------------------GALERIA IMAGEN*/

.galeria{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    flex-wrap: wrap;

    &__caja{
        margin: 15px;
        position: relative;
        margin-bottom: 15px;
        box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.247);
        height: 650px;
        width: 400px;
        overflow: hidden;
    
        @include movil{
            width: 100vw;
            height: 60vh;
        }
    
        @include tablet{
            width: 40vw;
            height: 60vh;
        }

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
            }
    }

    
    &__caja::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        transition: all .5s ease;
    }

    &__caja:hover::before{
        content: '';
        position: absolute;
        top: 0;
        z-index: 8;
    
    }

    &__texto{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.605);
        width: 100%;
        height: 100%;
        top: 100;
        right: 100%;
        transition: all 0.5s ease;
        
        h3{
            margin-left: 10%;
        }

        p{
            margin-left: 10%;
            width: 80%;
        }
    }

    &__contenido{
        padding: 5%;
    
        h2{
            margin-bottom: 15px;
        }
    
        p{
            line-height: 1.5;
        }
    }

    &__caja:hover &__texto{
    top: 0;
    right: 0;
    }
}













/*---------------------------------------------------------GALERIA IMAGEN CIERRA*/

/*-------------------------------------------------------------------------------------TIENDA CIERRA*/
