@charset "UTF-8";
/*Seccion contactos - formulario*/
.fondo {
  background-color: rgba(24, 24, 24, 0);
  height: 850px;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fondo {
    height: 950px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .fondo {
    height: 900px;
  }
}

.contacto {
  margin: auto;
  color: white;
  font-family: 'Poppins', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contacto {
    font-size: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contacto {
    font-size: 25px;
    letter-spacing: 10px;
    padding-bottom: 25px;
  }
}

.formulario {
  text-align: center;
  padding-top: 150px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .formulario {
    padding-top: 90px;
  }
}

.fieldset {
  border: 0px;
  text-align: center;
}

.legend {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .legend {
    width: 50%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .legend {
    margin-bottom: 40px;
    width: 98%;
    font-size: 15px;
    letter-spacing: 3px;
  }
}

.relleno {
  background-color: rgba(0, 0, 0, 0.836);
  border-radius: 10px;
  color: #f7f7f7;
  padding: 7px 7px 7px 7px;
  margin: 5px;
  border-style: solid;
  font-family: 'Poppins', sans-serif;
  width: 16%;
  border-color: #76CCB1;
  border-width: 1px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .relleno {
    width: 50%;
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .relleno {
    width: 90%;
    font-size: 18px;
  }
}

.textarea {
  color: white;
  border-radius: 5px;
  padding: 7px 7px 7px 7px;
  width: 16%;
  background-color: rgba(0, 0, 0, 0.836);
  border-style: solid;
  font-family: 'Poppins', sans-serif;
  border-color: #75ccb1;
  border-width: 1px;
  margin: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .textarea {
    width: 50%;
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .textarea {
    width: 90%;
    font-size: 18px;
    border-radius: 10px;
  }
}

.check {
  background-color: rgba(0, 0, 0, 0.836);
  border-radius: 10px;
  padding: 4px;
}

#notificacion {
  margin-top: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #notificacion {
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #notificacion {
    font-size: 15px;
  }
}

.botonform {
  color: white;
  border-radius: 5px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 20px;
  padding: 7px 7px 7px 7px;
  width: 8%;
  background-color: rgba(0, 0, 0, 0.836);
  border-style: solid;
  font-family: 'Poppins', sans-serif;
  border-color: #76CCB1;
  border-width: 1px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .botonform {
    width: 20%;
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .botonform {
    width: 50%;
    font-size: 18px;
  }
}

.header .navbar {
  background: linear-gradient(110deg, #0f0f0f, #2b2b2b, #0f0f0f);
  opacity: 90%;
  width: 100%;
  position: fixed;
  top: 0%;
  -webkit-box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.774);
          box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.774);
  z-index: 1000;
  /* valores de la sombra: offset-x | offset-y | blur-radius | spread-radius | color */
}

.header .navbar .navbar-brand {
  top: 15px;
  width: 9%;
  margin-left: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .navbar .navbar-brand {
    width: 25%;
    top: 12px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header .navbar .navbar-brand {
    width: 35%;
    top: 0px;
    margin-left: 10px;
  }
}

.header .navbar .navbar-nav {
  color: white;
  margin-left: auto;
}

.header .navbar .navbar-nav .nav-item {
  position: relative;
  display: inline-block;
  padding: 4px 30px;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: right;
}

.header .navbar .navbar-nav .nav-item:hover {
  -webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.774);
          box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.774);
  border-radius: 5px;
}

.header .navbar .navbar-nav .nav-link {
  color: white;
}

/*Pie de página*/
.footer {
  background: -webkit-gradient(linear, left top, right top, from(#0e0d0d), color-stop(#242424), to(#0e0d0d));
  background: linear-gradient(90deg, #0e0d0d, #242424, #0e0d0d);
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.774);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.774);
  opacity: 90%;
  color: white;
  margin-top: 100px;
  width: 100%;
  text-align: left;
  padding: 45px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Footer izq */
  /* Footer centro */
  /* Footer derecha */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    width: 100%;
    padding: 3em;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    width: 100%;
    padding: 2em;
  }
}

.footer .footer__izq, .footer .footer__centro, .footer .footer__der {
  display: inline-block;
  vertical-align: top;
}

.footer .footer__izq {
  width: 35%;
  font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer__izq {
    width: 35%;
    margin-right: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .footer__izq {
    width: 90%;
  }
}

.footer .footer__izq .footer__iconos {
  color: #ffffff;
  margin: 20px 0 18px;
  padding: 0;
}

.footer .footer__izq .footer__iconos a {
  display: inline-block;
}

.footer .footer__izq .footer__iconos img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .footer__izq .footer__blackwood {
  margin: 0;
  font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer__izq .footer__blackwood {
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .footer__izq .footer__blackwood {
    width: 70%;
    font-size: 11px;
  }
}

.footer .footer__centro {
  width: 30%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer__centro {
    width: 60%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .footer__centro {
    padding-top: 40px;
    width: 90%;
  }
}

.footer .footer__centro img {
  text-align: center;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer__centro img {
    margin-right: 8px;
    padding-top: 10px;
    vertical-align: center;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .footer__centro img {
    margin-right: 8px;
    padding-top: 10px;
    margin-bottom: 10px;
  }
}

.footer .footer__centro p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer__centro p {
    font-size: 15px;
    margin-top: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .footer__centro p {
    width: 70%;
    font-size: 12px;
    margin-top: 18px;
  }
}

.footer .footer__der {
  width: 22%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer__der {
    width: 56%;
    padding-top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .footer__der {
    padding-top: 40px;
    width: 90%;
  }
}

.footer .footer__der .footer__acerca {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer__der .footer__acerca {
    font-size: 16px;
  }
}

.footer .footer__der .footer__acerca span {
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

/* HOME */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1040px;
}

.intro .intro__caja {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  width: 860px;
  background-color: #b8b8b815;
  height: 520px;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro .intro__caja {
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .intro .intro__caja {
    width: 95%;
    height: 350px;
  }
}

.intro .intro__caja .intro__titulo {
  color: #1b1b1b;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 15px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro .intro__caja .intro__titulo {
    font-size: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .intro .intro__caja .intro__titulo {
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 300;
  }
}

.intro .intro__caja .intro__subTitulo {
  text-align: center;
  color: #1b1b1b;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  width: 590px;
  margin: 40px auto 60px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .intro .intro__caja .intro__subTitulo {
    font-size: 15px;
    letter-spacing: 0px;
    width: 300px;
  }
}

.button {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*INDEX quienes somos*/
.titulo1 {
  margin-top: 100px;
  padding-top: 50px;
  color: white;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .titulo1 {
    font-size: 35px;
    line-height: 90px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .titulo1 {
    letter-spacing: 6px;
    font-size: 20px;
    line-height: 40px;
  }
}

.parrafoDescrip {
  color: white;
  width: 700px;
  margin: auto;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .parrafoDescrip {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 100;
    width: 470px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .parrafoDescrip {
    padding-top: 20px;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 20px;
    width: 280px;
  }
}

#contenedor {
  width: 1152px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #contenedor {
    margin-top: 70px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #contenedor {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
  }
}

#contenedor .contenedor__iconos {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #contenedor .contenedor__iconos {
    padding: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #contenedor .contenedor__iconos {
    padding: 4px;
  }
}

#contenedor .contenedor__iconos img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #contenedor .contenedor__iconos img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

#contenedor .contenedor__iconos .contenedor__desc {
  padding-top: 20px;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #contenedor .contenedor__iconos .contenedor__desc {
    font-size: 20px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #contenedor .contenedor__iconos .contenedor__desc {
    font-size: 14px;
    padding-top: 20px;
  }
}

.pre {
  width: 70%;
  padding: 20px;
  margin: auto;
  height: 650px;
  margin-top: 150px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.644);
          box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.644);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 1140px;
    width: 90%;
    padding: 2px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .pre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 860px;
    width: 95%;
    padding: 2px;
    margin-bottom: 150px;
  }
}

.pre .pre__imagen {
  margin-right: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pre .pre__imagen {
    margin-right: 0;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .pre .pre__imagen {
    margin-right: 0;
    margin-bottom: 80px;
  }
  .pre .pre__imagen img {
    margin-left: 30px;
    width: 80%;
  }
}

.pre .pre__texto {
  width: 450px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .pre .pre__texto {
    width: 95%;
  }
}

.pre .pre__texto h2 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 14px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pre .pre__texto h2 {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .pre .pre__texto h2 {
    text-align: center;
    font-size: 22px;
    letter-spacing: 10px;
  }
}

.pre .pre__texto h5 {
  font-weight: 400;
  width: 450px;
  font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pre .pre__texto h5 {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .pre .pre__texto h5 {
    font-size: 15px;
    width: 98%;
    text-align: center;
  }
}

.pre .pre__texto .pre__lista {
  margin-top: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pre .pre__texto .pre__lista {
    width: 500px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .pre .pre__texto .pre__lista {
    width: 90%;
  }
}

.pre .pre__texto .pre__lista .pre__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pre .pre__texto .pre__lista .pre__item i {
  margin-right: 20px;
  margin-top: 2px;
}

.pre .pre__texto .pre__lista p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pre .pre__texto .pre__lista p {
    font-size: 20px;
  }
}

/*INDEX grid*/
.gridContainer {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  width: 70%;
  margin: auto;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: 500px 500px;
      grid-template-rows: 500px 500px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gridContainer {
    width: 98%;
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .gridContainer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 500px 500px 500px 500px;
        grid-template-rows: 500px 500px 500px 500px;
    width: 95%;
  }
}

.gridContainer div {
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.644);
          box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.644);
  text-align: center;
  font-size: 30px;
  height: 500px;
}

.gridContainer .gridItem img, .gridContainer video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gridContainer .item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gridContainer .item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .gridContainer .item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.gridContainer .item2 {
  -ms-grid-column: 6;
  grid-column: 6;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gridContainer .item2 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / span 2;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .gridContainer .item2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
}

.gridContainer .item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .gridContainer .item3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
}

.gridContainer .item4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / span 4;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .gridContainer .item4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
}

.suscribir {
  margin: 100px auto 100px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .suscribir {
    margin-top: 50px;
  }
}

.suscribir .suscribir__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  height: 100px;
  margin: auto;
  padding: 0px 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.644);
          box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.644);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .suscribir .suscribir__cont {
    width: 668px;
    margin: auto;
    padding: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .suscribir .suscribir__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    height: 200px;
    padding: 10px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.suscribir .suscribir__cont .suscribir__izq {
  margin-top: 17px;
  width: 64%;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-right: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .suscribir .suscribir__cont .suscribir__izq {
    width: 45%;
    margin-right: 50px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .suscribir .suscribir__cont .suscribir__izq {
    width: 95%;
    margin-right: 50px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 30px;
    margin-top: 0px;
  }
}

.suscribir .suscribir__cont .suscribir__der {
  width: 22%;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  border-color: #76CCB1;
  border-style: solid;
  border-width: 1px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .suscribir .suscribir__cont .suscribir__der {
    width: 80%;
    margin-right: 50px;
  }
}

.suscribir .suscribir__cont .suscribir__der a {
  text-align: center;
  color: white;
  font-size: 19px;
  font-weight: 00;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .suscribir .suscribir__cont .suscribir__der a {
    font-size: 16px;
  }
}

/* NOSOTROS */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.historia {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.historia__caja {
  padding: 150px 100px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: #1a1919a1;
  height: 100vh;
  width: 50%;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.521);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.521);
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .historia__caja {
    width: 95%;
    padding: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .historia__caja {
    width: 100%;
    height: 550px;
    padding: 40px 15px;
  }
}

.historia__caja .historia__titulo {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 500;
  text-shadow: 0px 0px 0px #000000;
  letter-spacing: 15px;
  min-width: 100%;
  font-family: 'Poppins', 'sans-serif';
  color: white;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .historia__caja .historia__titulo {
    font-size: 30px;
    letter-spacing: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .historia__caja .historia__sub {
    margin-top: 20px;
    width: 100%;
    height: 350px;
    overflow: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .historia__caja .historia__sub {
    margin-top: 0px;
    width: 100%;
    height: 350px;
    overflow: auto;
    text-align: center;
  }
}

.historia__caja .historia__sub .historia__texto {
  width: 82%;
  padding-top: 20px;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .historia__caja .historia__sub .historia__texto {
    width: 85%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .historia__caja .historia__sub .historia__texto {
    margin-top: 30px;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }
}

.historia__caja .historia__sub .historia__texto .resalta {
  color: #33ffbe;
  font-weight: 600;
}

.videobg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*PRODUCTOS*/
.contenedor {
  height: 100vh;
  width: 80vw;
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedor {
    width: 80%;
    height: 950px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 40px;
  }
}

.contenedor .contenedor__texto {
  width: 40%;
  height: 54%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedor .contenedor__texto {
    width: 100%;
    height: 54%;
    margin-top: 20px;
    text-align: center;
    margin-left: 110px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor .contenedor__texto {
    width: 90%;
    height: 54%;
    margin-top: 20px;
    text-align: center;
    margin-left: 0px;
  }
}

.contenedor .contenedor__texto .contenedor__titulo {
  width: 83%;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 25px;
  font-family: 'Poppins', 'sans-serif';
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor .contenedor__texto .contenedor__titulo {
    width: 100%;
    font-size: 25px;
    letter-spacing: 15px;
    text-align: left;
  }
}

.contenedor .contenedor__texto .contenedor__desc {
  width: 82%;
  font-size: 22px;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-top: 2%;
  letter-spacing: 1px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor .contenedor__texto .contenedor__desc {
    width: 100%;
    font-size: 15px;
    text-align: left;
  }
}

.contenedor .contenedor__silla img {
  margin-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedor .contenedor__silla img {
    margin-left: 40px;
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor .contenedor__silla img {
    margin-left: 0px;
    width: 100%;
  }
}

/*-------------------------------------------------------------------------------------SLIDER*/
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}

.texto-cont {
  padding: 50px;
  width: 40%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .texto-cont {
    padding: 30px;
    width: 100%;
    text-align: center;
  }
}

.texto-cont h4 {
  color: #33ffbe;
  font-size: 2.2em;
  font-weight: 500;
  padding: 30px 0;
}

.texto-cont p {
  color: white;
  font-family: 'Poppins';
  font-size: 1.2em;
  width: 80%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .texto-cont p {
    width: 100%;
  }
}

#conteiner {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slide {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-filter: invert(8%);
          filter: invert(8%);
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  border-right: 1px solid white;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.slide:nth-child(1) {
  background: url(../multimedia/imagen/a.jpg);
  background-position: center center;
}

.slide:nth-child(2) {
  background: url(../multimedia/imagen/b.jpg);
  background-position: center center;
}

.slide:nth-child(3) {
  background: url(../multimedia/imagen/c.jpg);
  background-position: center center;
}

.slide:nth-child(4) {
  background: url(../multimedia/imagen/d.jpg);
  background-position: center center;
}

.slide:nth-child(5) {
  background: url(../multimedia/imagen/e.jpg);
  background-position: center center;
}

.slide:nth-child(6) {
  background: url(../multimedia/imagen/a.jpg);
  background-position: center center;
}

.slide:hover {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -webkit-filter: invert(0);
          filter: invert(0);
}

/*-------------------------------------------------------------------------------------SLIDER CIERRA*/
/*-------------------------------------------------------------------------------------TIENDA*/
.side-bar {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transition-property: left;
  transition-property: left;
  z-index: 1000;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: #8621F8;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 80px;
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.close-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

.menu-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.menu-btn i {
  margin-right: 20px;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.main h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  text-align: center;
  line-height: 80px;
}

@media (max-width: 900px) {
  .main h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

.gallery {
  margin: 80px 0;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  color: white;
  font-family: 'Poppins', 'sans-serif';
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

.header-tienda {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header {
  margin: auto;
  padding-bottom: 30px;
  color: white;
  letter-spacing: 1px;
}

.content {
  padding: 10%;
}

.content h2 {
  margin-bottom: 15px;
}

.content p {
  line-height: 1.5;
}

.main-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content .box {
  margin: 15px;
  position: relative;
  margin-bottom: 15px;
  -webkit-box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.247);
          box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.247);
  height: 650px;
  width: 400px;
  overflow: hidden;
}

.main-content .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.main-content .box:hover::before {
  content: '';
  position: absolute;
  top: 0;
  z-index: 8;
}

.main-content .box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.main-content .box .img-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.605);
  width: 100%;
  height: 100%;
  top: 100;
  right: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content .box:hover .img-text {
  top: 0;
  right: 0;
}

/*-------------------------------------------------------------------------------------TIENDA CIERRA*/
/*MATERIALES*/
.material {
  background-color: #161512;
  height: 250px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .material {
    height: 150px;
  }
}

.material__titulo {
  padding-top: 150px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 17px;
  font-family: 'Poppins', 'sans-serif';
  color: white;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .material__titulo {
    padding-top: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .material__titulo {
    letter-spacing: 10px;
    font-size: 25px;
    padding-top: 100px;
  }
}

.material__texto {
  padding-top: 30px;
  margin: auto;
  max-width: 30%;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Poppins', 'sans-serif';
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .material__texto {
    max-width: 75%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .material__texto {
    max-width: 90%;
    font-size: 12px;
  }
}

.grid {
  row-gap: 30px;
  width: 1100px;
  margin: auto;
  margin-top: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 600px;
      grid-template-columns: 500px 600px;
  -ms-grid-rows: (384px)[4];
      grid-template-rows: repeat(4, 384px);
  border-color: #75ccb1;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid {
    width: 750px;
    -ms-grid-columns: 365px 365px;
        grid-template-columns: 365px 365px;
    -ms-grid-rows: (225px)[4];
        grid-template-rows: repeat(4, 225px);
    padding-top: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid {
    width: 95%;
    row-gap: 10px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 190px 190px 190px 190px;
        grid-template-rows: 190px 190px 190px 190px;
    padding-top: 0px;
  }
}

.grid .grid__item {
  background-color: black;
  border-radius: 20px;
}

.grid .grid__item--1 img, .grid .grid__item--4 img, .grid .grid__item--5 img, .grid .grid__item--8 img {
  border-radius: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid .grid__item--1, .grid .grid__item--4, .grid .grid__item--5, .grid .grid__item--8 {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .grid .grid__item--1 img, .grid .grid__item--4 img, .grid .grid__item--5 img, .grid .grid__item--8 img {
    width: 100%;
    border-radius: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__item--1, .grid .grid__item--4, .grid .grid__item--5, .grid .grid__item--8 {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .grid .grid__item--1 img, .grid .grid__item--4 img, .grid .grid__item--5 img, .grid .grid__item--8 img {
    width: 100%;
    border-radius: 20px;
  }
}

.grid .grid__item--2, .grid .grid__item--3, .grid .grid__item--6, .grid .grid__item--7 {
  padding-left: 60px;
  padding-top: 80px;
  padding-bottom: 70px;
  width: 600px;
  border: 1px solid #75ccb1;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid .grid__item--2, .grid .grid__item--3, .grid .grid__item--6, .grid .grid__item--7 {
    width: 370px;
    padding-left: 30px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__item--2, .grid .grid__item--3, .grid .grid__item--6, .grid .grid__item--7 {
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 40px;
  }
}

.grid .grid__item--2, .grid .grid__item--6 {
  -webkit-box-shadow: -5px 0px 8px 0px rgba(0, 0, 0, 0.493);
          box-shadow: -5px 0px 8px 0px rgba(0, 0, 0, 0.493);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__item--2, .grid .grid__item--6 {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}

.grid .grid__item--2 .grid__texto {
  width: 68%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid .grid__item--2 .grid__texto {
    width: 87%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__item--2 .grid__texto {
    width: 90%;
  }
}

.grid .grid__item--3 .grid__texto {
  width: 70%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid .grid__item--3 .grid__texto {
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__item--3 .grid__texto {
    width: 90%;
  }
}

.grid .grid__item--6 .grid__texto {
  width: 69%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid .grid__item--6 .grid__texto {
    width: 88%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__item--6 .grid__texto {
    width: 90%;
  }
}

.grid .grid__item--7 .grid__texto {
  width: 64%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid .grid__item--7 .grid__texto {
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__item--7 .grid__texto {
    width: 90%;
  }
}

.grid .grid__titulo {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 25px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__titulo {
    font-size: 18px;
    font-weight: 700;
  }
}

.grid .grid__texto {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #9c9c9c;
  padding-top: 15px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid .grid__texto {
    height: 100px;
    overflow: scroll;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid .grid__texto {
    height: 100px;
    overflow: scroll;
    margin-bottom: 10px;
  }
}

.grid .grid__info {
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.grid .grid__info:hover {
  color: #ffc74f;
  font-weight: 500;
  font-size: 17px;
}

.error {
  width: 34%;
  height: 300px;
  background-color: black;
  margin: auto;
}

.error .error__texto {
  margin-top: 200px;
  text-align: center;
  font-family: 'Poppins', 'sans-serif';
  color: white;
  padding: 50px;
}

.error .error__texto h1 {
  font-size: 60px;
  letter-spacing: 10px;
}

.error .error__texto p {
  font-size: 20px;
  margin-bottom: 50px;
}

.error .error__texto a {
  top: 50px;
  color: #75ccb1;
}

/*pagina principal y parametros generales*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  background-color: #161512;
}

.body--intro {
  background-image: url(../multimedia/imagen/nuevaintro.png);
  background-repeat: no-repeat;
  background-size: 1920px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .body--intro {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .body--intro {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */